@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

.container {
  margin-inline: 30%;
  margin-top: 100px;
  display: flex;
  background-color: #666666;
  height: 600px;
  flex-wrap: wrap;
  width: 1100px;
  gap: 50px;
  padding-left: 70px;
}

.postit {
  margin-top: 50px;
  color: black;
  width: 200px;
  height: 170px;
  box-shadow: 5px 5px 7px rgba(33, 33, 33, 0.7);
  animation: lancio 2s alternate ease-in-out;
}
@keyframes lancio {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.8, 0.6);
  }
  100% {
    transform: scale(1);
  }
}
.postit:hover {
  transform: scale(1.5);
}
.postit h3 {
  font-weight: 700;
  text-align: center;
  margin-top: 50px;
  font-size: 2rem;
}
.postit p {
  text-align: center;
  font-size: 1.5rem;
}
.n1 {
  background-color: #f9fac8;
  transform: rotate(-5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #f9fac8 70%);
}
.n2 {
  background-color: #c8f8ca;
  transform: rotate(5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #c8f8ca 70%);
}
.n3 {
  background-color: #c5c5f0;
  transform: rotate(-5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #c5c5f0 70%);
}
.n4 {
  background-color: #c8f8ca;
  transform: rotate(5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #c8f8ca 70%);
}
.n5 {
  background-color: #f9fac8;
  transform: rotate(-5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #f9fac8 70%);
}
.n6 {
  background-color: #c5c5f0;
  transform: rotate(5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #c5c5f0 70%);
}
.n7 {
  background-color: #f9fac8;
  transform: rotate(-5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #f9fac8 70%);
}
.n8 {
  background-color: #c8f8ca;
  transform: rotate(5deg);
  background: linear-gradient(to top, #868686 5%, #9e9e9e 10%, #c8f8ca 70%);
}
